*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  letter-spacing: 0px;
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

.sidenav {
    height: 100%;
    width: 12%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgb(40, 44, 52);
    overflow-x: hidden;
    position: fixed;
    padding-top: 20px;
    color: white;
    overflow: hidden;
  }

  .pages-title{
    font-size: 17px;
    padding-left: 30%;
  }
  .pages-title2{
    font-size: 17px;
    padding-left: 20%;
  }

  .navlinks{
    padding-top: 5px;
  }
  .navlinks a, .navlinks button {
    padding-top: 1.5vh;
    padding-right: 3.6%;
    padding-bottom: 2vh;
    padding-left: 18%;
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: inherit;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }
  .navlinksfootnote{
    padding-top: 52.5vh;
    padding-left: 5%;
  }

  .navlinks a:hover ,.navlinks button:hover{
    background: #f1f1f1;
    color: black;
    font-weight: bold;
  }
  .user img{
    width: 45%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;

  }
  .user{
    padding-top: 4%;
    text-align: center;
    color: white;
    padding-bottom: 20px;
  }
  .user a{
    font-size: 20px;
    padding: 20px 15px 12px 15px;
    color: white;
    text-decoration: none;
    line-height: 35px;
    border-bottom: 1px;
    border: #0e1e24;
    border-bottom-style: solid;
  }
  .topnav{
    width: 88%;
    margin-left: 12%;
    background: rgb(40, 44, 52);
    color: white;
    padding-right: 5%;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    height: 5.8%;
    min-height: 50px;
    z-index: 1;
    border: white;
    border-bottom:  1px;
    border-bottom-style: solid;
  }
  .topnav h1{
    padding-left: 2.5%;
    /* padding-top: .25%;
    padding-bottom: .75%; */
    font-weight: 500;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
  }
  .creategoalbutton{
    margin-top: auto;
    margin-bottom: auto;
    -moz-user-select: none;
    -ms-user-select: none;
 -khtml-user-select: none;
-webkit-user-select: none;
-webkit-touch-callout: none;
  }
  #button{
    white-space: nowrap;
    padding: 5px 10px;
    border: none;
    background-color: rgb(189, 188, 188);
    font-size: 14px;
  }
  #button:hover{
    background-color: rgb(255, 255, 255);
  }
  .navdropdown{
    display: block;
    padding-top: 1.1%;
    position: relative;
    margin-top: -4px;
    display: none;
    cursor: pointer;
    overflow: hidden;
}
.navdropdown div{
    width: 22px;
    height: 2px;
    background-color: rgb(219, 219, 219);
    margin: 6.5px;
}
.toggle .line1{
  transform: rotate(-45deg) translate(-6px, 6px);
  transition-duration: 500ms;
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-6px, -6px);
  transition-duration: 500ms;
}

  .main {
    padding-top: calc(50px + 1.5%);
    padding-left: 14%;
    display: flex;
  }
  .goaltypeselector{
    background: rgb(184, 184, 184);
    width: 15%;
    padding: .5% 1% 3%;
    color: rgb(0, 0, 0);
    height: 100%;
    min-width: 165px;
  }
  .goaltypeselector h2{
    padding-bottom: .7vh;
  }
  .goaltypeselector h3{
    padding-bottom: .7vh;
    font-size: 23px;
  }
  .goaltypeselector img{
    height: 13px;
    padding-right: .6vw;
  }
  .goaltypeselector li:hover{
    font-weight: bold;
  }
  .goals{
    width: 75%;
    margin-left: 4%;
    align-self: flex-start;
    color: black;
    display: block;
  }
  .goals h1{
    padding: .7% 5% .5%;
    white-space: nowrap;
    padding-top: 9px;
  }
  .othergoals h1{
    padding: .7% 6% .5%;
    white-space: nowrap;
    /* font-size: 30px; */
  }
  .dailygoals{
    background: rgb(184, 184, 184);
    margin-bottom: 3%;
  }


  .dailyheading{
    display: flex;
    justify-content: space-between;
    border-bottom:  1px;
    border-bottom-style: solid;
  }
  .dailyheading .dailyWeekdate{
    background: rgb(121, 120, 120);
    border-radius: 10px
  }
  .dailyheading ul{
    display: flex;
    list-style: none;
    padding-right: 0px;
    overflow: hidden;
  }
  .dailyheading li{
    padding-top: 8px;
    padding-bottom: 8px; 
    text-align: center;
    overflow: hidden;
    min-width: 80px;
    width: 50px;
    font-size: 18px;
    font-weight: 500;
  }
  .dailyheading h1{
    padding-left: 10px;
    width: 200px;
    min-width: 200px;
  }

  .onedailygoalheading{
    width: 200px;
    min-width: 200px;
    padding-left: 2%;
  }

  .onedailygoal{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .onedailygoalcheckmark ul{
    padding-right: 0px;
    display: flex;
  }
  .onedailygoalcheckmark li{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    list-style: none;
    min-width: 80px;
    padding-left: 23px;
  }

  .otherheading{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    border-bottom:  1px;
    border-bottom-style: solid;
    /* padding-bottom: 12px; */
  }
  .otherheadingheading{
    width: 190px;
    min-width: 190px;
    display: flex;
  }
  .otherdailygoal{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  .otherdailygoalheading{
    width: 300px;
    min-width: 140px;
    display: flex;
    padding-right: 15px;
    -moz-user-select: none;
      -ms-user-select: none;
   -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  }
  .otherdailygoalheading li{
    list-style: none;
  }
  .otherdailygoalheadingheading{
    padding-left: 20px;
  }
  .otherdailygoal h1{
    padding: 0;
    margin: 0;
    text-align: center;
    margin: auto;
    font-size: 40px;
  }
  .otherdailygoal h1:hover{
    cursor: pointer;
    color: rgb(93, 93, 93);
  }
  .otherheadingheadingtimeframe h1{
    text-align: center;
    padding-left: 11%;
    /* margin: auto; */
  }

  .extendeddailygoaltimeframe h4{
    text-align: center;
    margin: auto;
  }
  .extendeddailygoalyourprogress h4{
    text-align: center;
    margin: auto;
    padding-left: 0%;
  }
  .extendeddailygoalyourprogress{
    justify-content: flex-end;
  }
  .othergoalprogress{
    display: flex;
    padding-left: 13%;
    width: 180px;
    justify-content: space-between;
  }
  .finalProgress h4{
    text-align: center;
    margin: auto;
    padding-left: 10%;
    /* padding-left: 35%; */
  }

  .close-container{
    position: relative;
    margin: auto;
    width: 21px;
    height: 50px;
    cursor: pointer;
  }
  .onedailygoalcheckmark .close-container{
    padding-top: 23px;
  }

  .otherdailygoalheading .close-container{
    padding-top: 23px;
  }
  
  .leftright{
    height: 4px;
    width: 35px;
    position: absolute;
    background-color: black;
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all .3s ease-in;
  }
.radiobtn {
  display: block;
  position: relative;
  padding-left: 27px;
  cursor: pointer;
  font-size: 17px;
  padding-bottom: 7px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radiobtn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiocheckmark {
  position: absolute;
  top: 3.5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.radiobtn:hover input ~ .radiocheckmark {
  background-color: rgb(90, 89, 89);
}

.radiobtn input:checked ~ .radiocheckmark {
  background-color: rgb(22, 87, 141);
}

.radiocheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radiobtn input:checked ~ .radiocheckmark:after {
  display: block;
}

.radiobtn .radiocheckmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
  
  .rightleft{
    height: 4px;
    width: 35px;
    position: absolute;
    background-color: black;
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all .3s ease-in;
  }
  .close{
    margin: 60px 0 0 5px;
    position: absolute;
  }
  
  .close-container:hover .leftright{
    transform: rotate(-45deg);
    background-color: #F25C66;
  }
  .close-container:hover .rightleft{
    transform: rotate(45deg);
    background-color: #F25C66;
  }
  .close-container:hover label{
    opacity: 1;
  }
  
.checkbox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.checkboxmain{
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: rgb(255, 255, 255);
}

.checkboxmain:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: rgb(22, 87, 141);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}
.checkbox .checkmark:after {
  left: 12.5px;
  top: 5px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.othergoals{
  margin-bottom: 3%;
  background: rgb(184, 184, 184);
}
.create{
  background: white;
  width: 30%;
  height: 533px;
  left: 35%;
  position: absolute;
  border-radius: 7px;
}
@media screen and (min-width: 2500px){
  .pages-title{
    font-size: 23px;
  }
  .pages-title2{
    font-size: 23px;
  }
  .navlinks a {
    font-size: 25px;
  }
  .user a{
    font-size: 23px;
  }
  .topnav h1{
    font-size: 50px;
  }
  #button{
    padding: 10px 25px;
    font-size: 20px;
  }
  .goaltypeselector h2{
    font-size: 35px;
  }
  .goaltypeselector h3{
    font-size: 30px;
  }
  .radiobtn {
    font-size: 23px;
    padding-bottom: 10px;
  }
  .radiocheckmark {
    height: 25px;
    width: 25px;
  }
  .radiobtn .radiocheckmark:after {
    top:7px;
    left: 7px;
    width: 11px;
    height: 11px;
  }
  .radiobtn input {
    padding-right: 10px;
    margin-right: 10px;
  }
  .radiobtn span{
    padding-left: 5px;
  }
  .dailyheading{
    font-size: 21px;
  }
  .dailyheading ul li{
    font-size: 20px;
    width: 90px;
  }
  .onedailygoalheading{
    font-size: 20px;
  }
  .onedailygoalcheckmark li{
    width: 89.7px;
  }
  .checkmark {
    height: 40px;
    width: 40px;
  }
  .checkbox .checkmark:after {
    left: 14.5px;
    top: 5.5px;
    width: 11.5px;
    height: 22.5px;
  }
  .otherheadingheading{
    font-size: 20px;
  }
  .otherdailygoal{
    font-size: 20px;
  }
  .rightleft{
    height: 4px;
    width: 40px;
  }
  .leftright{
    height: 4px;
    width: 40px;
  }
  .close-container{
    width: 35px;
  }
  .main {
    padding-top: calc(50px + 3%);
  }
}
@media screen and (min-width: 3800px){
  .pages-title{
    font-size: 34px;
  }
  .pages-title2{
    font-size: 34px;
  }
  .navlinks a {
    font-size: 37px;
  }
  .user img{
    margin-bottom: 20px;
  }
  .user a{
    font-size: 35px;
  }
  .topnav h1{
    font-size: 70px;
  }
  #button{
    padding: 15px 35px;
    font-size: 25px;
  }
  .goaltypeselector h2{
    font-size: 48px;
  }
  .goaltypeselector h3{
    font-size: 40px;
  }
  .radiobtn {
    font-size: 33px;
    padding-bottom: 14px;
  }
  .radiocheckmark {
    height: 37px;
    width: 37px;
  }
  .radiobtn .radiocheckmark:after {
    top:10px;
    left: 10px;
    width: 17px;
    height: 17px;
  }
  .radiobtn input {
    padding-right: 10px;
    margin-right: 10px;
  }
  .radiobtn span{
    padding-left: 20px;
    margin-top: 2px;
  }
  .dailyheading{
    font-size: 28px;
  }
  .dailyheading ul li{
    font-size: 29px;
    width: 120px;
  }
  .onedailygoalheading{
    font-size: 30px;
    padding-left: .8%;
  }
  .onedailygoalcheckmark li{
    width: 120px;
    /* background: red; */
  }
  .checkmark {
    margin-top: 5px;
    height: 56px;
    width: 56px;
  }
  .checkbox .checkmark:after {
    left: 20px;
    top: 8px;
    width: 15px;
    height: 34px;
    border-width: 0 6px 6px 0;
  }
  .otherheadingheading{
    font-size: 25px;
  }
  .otherdailygoal{
    font-size: 30px;
  }
  .rightleft{
    margin-left: 10px;
    height: 6px;
    width: 55px;
  }
  .leftright{
    margin-left: 10px;
    height: 6px;
    width: 55px;
  }
  .close-container{
    margin: auto;
    width: 70px;
    margin-left: -5px;
  }
  .main {
    padding-top: calc(50px + 3%);
  }
}

@media screen and (max-width: 1400px){
  .main{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: calc(50px + 1.5%);
  }
  .goals{
    width: calc(92% - 120px);
  }
  
  .topnav{
    width: 100%;
    padding-left: 5%;
    z-index: 1;
    margin-left: 0%;
  }
  .othergoals h1{
    font-size: 25px;
  }
  .otherdailygoal h1{
    padding: 0;
    margin: 0;
    text-align: center;
    margin: auto;
    font-size: 40px;
  }
  .sidenav{
    height: 100%;
    padding-top: 55px;
    margin-left: -200px;
    width: 200px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    overflow-y: hidden;
  }
  .navdropdown{
    display: block;
    padding-top: 12px;
  }
  .navdropdown div{
      width: 22px;
      height: 2px;
      background-color: rgb(219, 219, 219);
      margin: 6.5px;
  }
  /* .creategoaloverlay{
    width: 40%;
    left: calc(50% - 20%);
  } */
  .otherheadingheadingyourprogress{
    min-width: 125px;
    width: 150px;
  }
}
@media screen and (max-width: 1400px){
  .othergoals h1{
    font-size: 20px;
  }
  .otherdailygoal h1{
    font-size: 40px;
  }
  .otherdailygoal{
    justify-content: space-between;
  }
  .otherheadingheading{
    min-width: 140px;
    width: 135px;
  }
  .navlinksfootnote{
    padding-top: 40vh;
    padding-left: 5%;
  }
  
}
@media screen and (max-width: 850px){
  .othergoalprogress{
    display: flex;
    padding: 0;
    width: 150px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 669px){
  .topnav h1{
    font-size: 25px;
    margin: auto;
  }
  .finalProgress h4{
    padding-left: 0%;
  }
  .othergoals h1{
    font-size: 20px;
  }
  .otherheadingheadingyourprogress{
    min-width: 150px;
    width: 150px;
  }
  .otherdailygoalheading{
    min-width: 100px;
  }
  .otherheadingheading{
    min-width: 100px;
  }
  .goals{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .otherdailygoalheadingheading{
    padding-left: 8px;
  }
  .goaltypeselector{
    display: none;
  }
  .otherdailygoal h1{
    font-size: 40px;
    padding-right: 10px;
  }
}
  .nav-active{
    transform: translateX(0%);
  }

  body{
    background: -webkit-linear-gradient(-135deg, #44464d, #0e1e24);
    background: -o-linear-gradient(-135deg,      #44464d, #0e1e24);
    background: -moz-linear-gradient(-135deg,    #44464d, #0e1e24);
    background: linear-gradient(-135deg,         #44464d, #0e1e24);
    /* background: -webkit-linear-gradient(-135deg, #7d848b, #4d4e4e);
    background: -o-linear-gradient(-135deg,      #7d848b, #4d4e4e);
    background: -moz-linear-gradient(-135deg,    #7d848b, #4d4e4e);
    background: linear-gradient(-135deg,         #7d848b, #4d4e4e); */
    /* background: -webkit-linear-gradient(-135deg, #44464d, rgb(27, 27, 27));
    background: -o-linear-gradient(-135deg,      #44464d, rgb(27, 27, 27));
    background: -moz-linear-gradient(-135deg,    #44464d, rgb(27, 27, 27));
    background: linear-gradient(-135deg,         #44464d, rgb(27, 27, 27)); */
    /* background: rgb(27, 27, 27); */
    background-size: auto;
  }
  