.goaloverlay{
    background: white;
    width: 450px;
    left: calc(50% - 225px);
    position: absolute;
    border-radius: 8px;
}

.goaloverlay form{
    padding-left: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.input-wrap{
    width: 95%;
    padding-top: 5%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(175, 172, 172);
}
.input-wrap-nopadding{
    width: 95%;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(175, 172, 172);
}

.titleinput{
    width: 95%;
    height: 30px;
    font-size: 22px;
}

.snippitinput{
    width: 95%;
    height: 30px;
    font-size: 20px;
}

.button-wrap{
    padding: 8px 0px 8px 0px;    
    color: rgb(85, 84, 84);
}
.button-not-clicked:hover{
    background: rgb(241, 241, 241);
}
.button-not-clicked:focus{
    background: rgb(241, 241, 241);
}
.button-wrap button{
    padding: 7px;
    border-radius: 5px;
    margin-right: 6px;
}
.button-clicked{
    color: white;
    background-color: rgb(84, 85, 85);
}
.button-clicked:hover, .button-clicked:hover{
    background-color: rgb(66, 66, 66);
}
.span-date{
    font-size: 14px;
    padding-right: 8px;
    color: rgb(80, 79, 79);
}
.date-picker-wrapper{
    border-bottom: 1px;
    border-bottom-color: rgb(175, 172, 172);
    border-bottom-style: solid;
    width: 95%;
}
.date-picker{
    padding: 2px 0 2px 4px
}

.category{
    padding-top: 10px;
}
.new-category{
    padding-top: 10px;
}

.overlay-button {
  margin-top: 10px;
  margin-left: 73.5%;
  background-color: rgb(84, 85, 85);
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
}
.overlay-button:focus, .overlay-button:hover{
    background-color: rgb(66, 66, 66);
  }
.close {
    margin: 0;
    padding: 0;
    top: 12px;
    right: 15px;
    margin-left: 85%;
    position: absolute;
    width: 18px;
    height: 18px;
    opacity: 0.8;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 10px;
    bottom: 0px;
    content: ' ';
    height: 18px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  .error-msg{
      color: red;
      position: absolute;
      font-size: 12px;
      padding-top: 15px;
  }
@media screen and (min-width: 2500px){
    .goaloverlay{
        width: 500px;
        left: calc(50% - 250px);
    }
    .titleinput{
        height: 35px;
        font-size: 27px;
    }
    .snippitinput{
        height: 35px;
        font-size: 25px;
    }
    .button-wrap{
        padding: 12px 0px 12px 0px;    
    }
    .button-wrap button{
        padding: 10px 14px;
        border-radius: 5px;
        margin-right: 6px;
        font-size: 18px;
    }
    .span-date{
        font-size: 19px;
    }
    .date-picker-font{
        font-size: 20px;
    }
    .date-picker{
        padding: 2px 0 2px 4px
    }
    .input-wrap-nopadding{
        font-size: 20px;
    }
    .category-picker{
        font-size: 18px;
    }
    .error-msg{
        padding-top: 14px;
        font-size: 18px;
    }
    .close {
        top: 14px;
        right: 14px;
        width: 25px;
        height: 25px;
      }
      .close:before, .close:after {
        height: 25px;
      }
      .overlay-button {
        padding: 7px 24px;
        font-size: 18px;
        margin-left: 75%;
      }
}
@media screen and (min-width: 3800px){
    .goaloverlay{
        width: 750px;
        left: calc(50% - 375px);
    }
    .titleinput{
        height: 45px;
        font-size: 42px;
    }
    .snippitinput{
        height: 45px;
        font-size: 42px;
    }
    .button-wrap{
        padding: 17px 0px 17px 0px;    
    }
    .button-wrap button{
        padding: 12px 22px;
        border-radius: 5px;
        margin-right: 6px;
        font-size: 25px;
    }
    .span-date{
        font-size: 28px;
    }
    .date-picker-font{
        font-size: 30px;
    }
    .date-picker{
        padding: 4px 0 4px 6px
    }
    .input-wrap-nopadding{
        font-size: 30px;
    }
    .category-picker{
        font-size: 25px;
    }
    .error-msg{
        padding-top: 20px;
        font-size: 24px;
    }
    .close {
        top: 22px;
        right: 20px;
        width: 25px;
        height: 25px;
      }
      .close:before, .close:after {
        height: 34px;
      }
      .overlay-button {
        padding: 13px 38px;
        font-size: 25px;
        margin-left: 75%;
      }
}

  @media screen and (max-width: 850px){
    .goaloverlay{
        width: 300px;
        left: calc(50% - 150px);
    }
    .overlay-button {
        margin-left: 68%;
      }
  }
  