.text-white {color: white;}
.text-black {color: black;}

.text-hov-white:hover {color: white;}


.text-up {text-transform: uppercase;}


.text-center {text-align: center;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-middle {vertical-align: middle;}





